@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: #8C52FF;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

.navbar > ul {
    display: flex;
    padding: 30px;
}

.navbar > ul > li {
    list-style-type: none;
    padding: 15px;
    position: relative;
}

.navbar > ul > li > .dropdown {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #8C52FF;
    position: absolute;
    top: 100%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
    border-radius: 0 0 10px 10px;
}

.navbar > ul > li > .dropdown > li {
    list-style-type: none;
    padding: 15px;
    position: relative;
}

.navbar > ul > li:hover .dropdown {
    max-height: 500px;
}

.div_bar{
    background-color: #7E3EFE;
    width: 100vw;
    height: 3vh;
}

.navbar> ul > li > a{
    color: #fff;
    text-decoration: none;
    font-family: "Poppins";
}

.navbar > ul > li > .dropdown> li > a {
    color: #fff;
    text-decoration: none;
    font-family: "Poppins";
}

.logo > img{
    width: 20%;
    height: 20%;
}


.btn-feedback{
    padding: 30px;
}