@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

* {
    box-sizing: border-box;
}

body{
    background-color: #343434;
    color: #fff;
    font-family: "Poppins";
}

.intro::before{
    content: "";
    position: absolute;
    width: 80%;
    height: 17%;
    background-image: url('../images/fundo.jpg'); /* Caminho para a sua imagem */
    background-size: 105% 160%;
    background-position: center;
    opacity: 0.3; /* Ajuste a opacidade aqui */
    z-index: -1; /* Garante que a imagem fique atrás do conteúdo */
    padding: 10%;
    padding-bottom: 15%;
}

.intro{
    display: flex;
    margin-bottom: 4%;
}
.description{
    max-width: 40%;
    background-color: #8c52ff68;
    padding: 15px 20px 15px 15px;
    border-radius: 10px;
    font-size: 18px;
    
}

.logo_olimpiadas{
    width: 60%;
    padding: 7%;
}

.medalhas{
    text-align: center;
    margin: 5% 0;
}

.medalhas > h1{
    margin: 0 40% 5% 40%;
    border-bottom: #fff ridge;
    text-align: center;
}

.medalhas p{
    font-size: 22px;
}

.slogan{
    border-left: #fff ridge;
    padding: 5px;
    font-size: 36px;
    max-width: 40%;
    padding: 0 0 0 2%;
    margin: 0 0 3% 0;
}

.text-intro{
    padding: 5%;
}  

.modalidades > h1{
    margin: 0 43% 5% 43%;
    border-bottom: #fff ridge;
    text-align: center;
}


.avaliacao {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background: #7E3EFE;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.avaliacao > h2 {
    color: #fff;
    text-align: center;
}

.avaliacao > label {
    color: #fff;
    text-align: center;
}

label {
    display: block;
    margin: 10px 0 5px;
    color: #fff;
}

input[type="text"], textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="int"] {
    border: 1px solid #ccc;
}

.submit-btn {
    width: 100%;
    font-family: "Poppins";
    padding: 10px;
    background-color: #3f015c;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #714bad;
}

.avaliacoes-recentes {
    display: flex;
    margin: 5% 5%;
    align-items: center;
    flex-direction: column;
}

.avaliacoes-recentes > div {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(6, 1fr);
    gap: 40px;
    padding: 10px;
}

.avaliacoes-recentes > div > div {
    background-color: #7E3EFE;
    color: #fff;
    padding: 15px;
    border-radius: 10px;
}

/* Quadro de Medalhas */
table {
    width: 70%;
    margin: 20px auto;
    border-collapse: collapse;
    opacity: 0; 
    transition: opacity 6s ease-out; 
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}
th {
    background-color: #4CAF50;
    color: white;
}
tr {
    background-color: #343434;
}
tr.highlight {
    background-color: #FFDD57;
    font-weight: bold;
}
caption {
    font-size: 1.5em;
    margin: 10px;
}

/* Animação do Quadro de Medalhas */
tbody {
    overflow: hidden;
    height: 0; 
    transition: height 3s ease-out; 
}
tbody.open {
    height: auto; 
}
table.open {
    opacity: 1; 
}

/* Pagina historia */

.history{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 5%;
    margin-bottom: 10%;
}
.history > p{
    max-width: 35%;
    text-align: justify;
}

.titulo{
    display: flex;
    width: 9%;
    border-bottom: #fff ridge ;
}

 .run_icon{
  padding: 2%;
  width: 120%;
}

.hist_brasil{
    border-bottom: #fff ridge ;
}

/* pág salto */
.salto{
    margin: 5% 0 0 0;
}
.salto > h1{
    text-align: center;
    margin-bottom: 5%;

}
.salto > h1 > b{
    border-bottom: #fff ridge;
}

.subtitle{
    border-bottom: #fff ridge;
    margin:0% 72% 2% 15% ;
    text-align: center;
}

.salto-distancia{
    display: flex;
    align-items: center;
    justify-content: left;
    margin-bottom: 5%;
}

.salto-distancia > p{
    max-width: 30%;
    text-align: justify;
    margin: 0 0 0 15%;
}

.salto-distancia > img{
    border-radius: 25px;
    width: 28%;
    height: auto;
    margin: 0 0 0 10%;
}

.salto-altura{
    display: flex;
    align-items: center;
    justify-content: left;
    margin-bottom: 5%;
}

.salto-altura > p{
    max-width: 30%;
    text-align: justify;
    margin: 0 0 0 15%;
}

.salto-altura > img{
    border-radius: 25px;
    margin: 0 0 0 10%;
    height: auto;
    width: 28%;
}

.salto-vara{
    display: flex;
    align-items: center;
    justify-content: left;
    margin-bottom: 10%;
}

.salto-vara > p{
    max-width: 30%;
    text-align: justify;
    margin: 0 0 0 15%;
}

.salto-vara > img{
    border-radius: 25px;
    margin: 0 0 0 10%;
    height: auto;
    width: 28%;
}

/* corrida */

.corrida{
    margin: 5% 0 0 0;
}
.corrida > h1{
    text-align: center;
    margin-bottom: 5%;

}
.corrida > h1 > b{
    border-bottom: #fff ridge;
}

.m100-rasos{
    display: flex;
    align-items: center;
    justify-content: left;
    margin-bottom: 5%;
}

.m100-rasos > p{
    max-width: 30%;
    text-align: justify;
    margin: 0 0 0 15%;
}

.m100-rasos > img{
    border-radius: 25px;
    margin: 0 0 0 10%;
    width: 28%;
}

/* 110m com barra */
.m110-barreira{
    display: flex;
    align-items: center;
    justify-content: left;
    margin-bottom: 5%;
}

.m110-barreira > p{
    max-width: 30%;
    text-align: justify;
    margin: 0 0 0 15%;
}

.m110-barreira > img{
    border-radius: 25px;
    margin: 0 0 0 10%;
    width: 28%;
}

/* 200m rasos */
.m200-rasos{
    display: flex;
    align-items: center;
    justify-content: left;
    margin-bottom: 5%;
}

.m200-rasos > p{
    max-width: 30%;
    text-align: justify;
    margin: 0 0 0 15%;
}

.m200-rasos > img{
    border-radius: 25px;
    margin: 0 0 0 10%;
    width: 28%;
}

/* 400m rasos */
.m400-rasos{
    display: flex;
    align-items: center;
    justify-content: left;
    margin-bottom: 5%;
}

.m400-rasos > p{
    max-width: 30%;
    text-align: justify;
    margin: 0 0 0 15%;
}

.m400-rasos > img{
    border-radius: 25px;
    margin: 0 0 0 10%;
    width: 28%;
}

/* 400m barra */
.m400-barra{
    display: flex;
    align-items: center;
    justify-content: left;
    margin-bottom: 5%;
}

.m400-barra > p{
    max-width: 30%;
    text-align: justify;
    margin: 0 0 0 15%;
}

.m400-barra > img{
    border-radius: 25px;
    margin: 0 0 0 10%;
    width: 28%;
}

/* revezamento */
.revezamento{
    display: flex;
    align-items: center;
    justify-content: left;
    margin-bottom: 10%;
}

.revezamento > p{
    max-width: 30%;
    text-align: justify;
    margin: 0 0 0 15%;
}

.revezamento > img{
    border-radius: 25px;
    margin: 0 0 0 10%;
    width: 28%;
}

/* arremessos */

.arremesso{
    margin: 5% 0 0 0;
}
.arremesso > h1{
    text-align: center;
    margin-bottom: 5%;

}
.arremesso > h1 > b{
    border-bottom: #fff ridge;
}

.subtitle{
    border-bottom: #fff ridge;
    margin:0% 70% 2% 15% ;
    text-align: center;
}

.arremesso-peso{
    display: flex;
    align-items: center;
    justify-content: left;
    margin-bottom: 5%;
}

.arremesso-peso > p{
    max-width: 30%;
    text-align: justify;
    margin: 0 0 0 15%;
}

.arremesso-peso > img{
    border-radius: 25px;
    width: 28%;
    margin: 0 0 0 10%;
}

.arremesso-disco{
    display: flex;
    align-items: center;
    justify-content: left;
    margin-bottom: 5%;
}

.arremesso-disco > p{
    max-width: 30%;
    text-align: justify;
    margin: 0 0 0 15%;
}

.arremesso-disco > img{
    border-radius: 25px;
    margin: 0 0 0 10%;
    width: 28%;
}

.arremesso-dardo{
    display: flex;
    align-items: center;
    justify-content: left;
    margin-bottom: 10%;
}

.arremesso-dardo > p{
    max-width: 30%;
    text-align: justify;
    margin: 0 0 0 15%;
}

.arremesso-dardo > img{
    border-radius: 25px;
    margin: 0 0 0 10%;
    width: 28%;
}

/* Carrossel de Imagens */
.carousel {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 700px;
    margin: auto;
}

.carousel-wrapper {
    display: flex;
    transition: transform 1s ease-in-out;
}

.carousel-item {
    min-width: 100%;
    box-sizing: border-box;
}

.carousel-item img {
    width: 100%;
    height: 82%;
    border-radius: 20px;
}

@media screen and (max-width: 1024px) {
    body {
        font-size: 12px;
    }

    .description {
        font-size: 11px;
    }

    .slogan {
        font-size: 18px;
        max-width: 80%;
    }

    .medalhas h1{
        margin: 0 35% 5% 35%;
    }
}
@media screen and (max-width: 500px){
    /* index */
    body{
        font-size: 10px
    }

    .intro::before{
        content: "";
        position: absolute;
        width: 80%;
        height: 50%;
        background-image: url('../images/fundo.jpg'); /* Caminho para a sua imagem */
        background-size: 105% 160%;
        background-position: center;
        opacity: 0.3; /* Ajuste a opacidade aqui */
        z-index: -1; /* Garante que a imagem fique atrás do conteúdo */
        padding: 10%;
        padding-bottom: 15%;
    }
    
    .intro{
        display: flex;
        margin-bottom: 4%;
        flex-direction: column;
        align-items: center;
    }
    .description{
        max-width: 90%;
        height: 50%;
        background-color: #8c52ff68;
        padding: 15px 40px 15px 15px;
        border-radius: 10px;
        font-size: 10px;
        text-align: justify;
        
    }
    
    .logo_olimpiadas{
        width: 30%;
        padding: 6%;
    }

    
    .slogan{
        border-left: #fff ridge;
        padding: 5px;
        font-size: 20px;
        max-width: 90%;
        padding: 0 0 0 2%;
        margin: 0 0 5% 0;
    }
    
    .text-intro{
        padding: 5%;
    }  
    
    .modalidades > h1{
        margin: 0 30% 5% 30%;
        border-bottom: #fff ridge;
        text-align: center;
        font-size: 20px;
    }

    /* quadro de medalhas */
    
    .medalhas > h1 {
        font-size: 16px; /* Reduz o tamanho da fonte do título */
        margin: 0 5% 5% 5%; /* Ajusta as margens para telas menores */
    }

    .medalhas p {
        font-size: 10px; /* Reduz o tamanho da fonte do parágrafo */
    }

    table {
        width: 90%; /* Aumenta a largura da tabela para ocupar mais espaço */
    }

    th, td {
        padding: 8px; /* Aumenta o padding para melhor legibilidade */
    }
    
    caption {
        font-size: 0.9em; /* Ajusta o tamanho da fonte da legenda */
    }
    /* menu de avaliação */
    .avaliacao {
        width: 90%;
        margin: 5% auto;
        padding: 10px;
        background: #7E3EFE;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        font-size: 12px;
    }
    
    .avaliacao > h2 {
        color: #fff;
        font-size: 17px;
    }

    .avaliacao form{
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: left;
        margin: 0 0 0 10px;
    }
    
    label {
        display: block;
        margin: 5px 0 2px;
        color: #fff;
    }
    
    input[type="text"], textarea {
        width: 100%;
        padding: 5px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
    
    input[type="int"] {
        border: 1px solid #ccc;
    }
    
    .submit-btn {
        width: 100%;
        font-family: "Poppins";
        padding: 10px;
        background-color: #3f015c;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    
    .submit-btn:hover {
        background-color: #714bad;
    }
    
    .avaliacoes-recentes {
        display: flex;
        margin: auto;
        align-items: center;
        flex-direction: column;
        font-size: 10px;
        max-width: 90%;
    }

    .avaliacoes-recentes h2 {
        font-size: 16px;
    }
    
    .avaliacoes-recentes > div {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        gap: 5px;
    }
    
    .avaliacoes-recentes > div > div {
        background-color: #7E3EFE;
        color: #fff;
        padding: 10px;
        border-radius: 10px;
    }

    .avaliacao-item{
        max-width: 100%;
        margin: 0 0 5% 0;
        text-align: center;
        padding: 10px;
    }
    .avaliacao-item p{
        text-align: left;
    }

    /* Carrossel de Imagens */
.carousel {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 700px;
    margin: auto;
}

.carousel-wrapper {
    display: flex;
    transition: transform 1s ease-in-out;
}

.carousel-item {
    min-width: 100%;
    box-sizing: border-box;
}

.carousel-item img {
    width: 100%;
    height: 82%;
    border-radius: 20px;
}

/* Pagina historia */

.history{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 15%;
    margin-bottom: 25%;
}
.history > p{
    max-width: 70%;
    text-align: justify;
    font-size: 12px;
}

.titulo{
    display: flex;
    width: 40%;
    border-bottom: #fff ridge ;
    justify-content: center;
}

 .run_icon{
  padding: 2%;
  width: 20%;
}

.hist_brasil{
    border-bottom: #fff ridge ;
    font-size: 20px;
}

.titulo > h1{
    font-size: 20px;
}

/* pág salto */
.salto{
    margin: 5% 0 0 0;
}
.salto > h1{
    text-align: center;
    margin-bottom: 15%;
    font-size: 20px;

}
.salto > h1 > b{
    border-bottom: #fff ridge;
}

.subtitle{
    border-bottom: #fff ridge;
    margin:0% 40% 8% 15% ;
    text-align: left;
    font-size: 16px;
}

.salto-distancia{
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
}

.salto-distancia > p{
    max-width: 70%;
    text-align: justify;
    margin: 0 0 12% 0;
    font-size: 12px;
}

.salto-distancia > img{
    border-radius: 10px;
    width: 70%;
    height: auto;
    margin: 0 0 16% 0;
}

.salto-altura{
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
}

.salto-altura > p{
    max-width: 70%;
    text-align: justify;
    margin: 0 0 12% 0;
    font-size: 12px;
}

.salto-altura > img{
    border-radius: 10px;
    width: 70%;
    height: auto;
    margin: 0 0 16% 0;
}

.salto-vara{
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
}

.salto-vara > p{
    max-width: 70%;
    text-align: justify;
    margin: 0 0 12% 0;
    font-size: 12px;
}

.salto-vara > img{
    border-radius: 10px;
    width: 70%;
    height: auto;
    margin: 0 0 20% 0;
}

/* corridas */
.corrida{
    margin: 5% 0 0 0;
}
.corrida > h1{
    text-align: center;
    margin-bottom: 15%;
    font-size: 20px;

}
.corrida > h1 > b{
    border-bottom: #fff ridge;
}

.m100-rasos{
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
}

.m100-rasos > p{
    max-width: 70%;
    text-align: justify;
    margin: 0 0 12% 0;
    font-size: 12px;
}

.m100-rasos > img{
    border-radius: 10px;
    width: 70%;
    height: auto;
    margin: 0 0 16% 0;
}
/* barreira */
.m110-barreira{
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
}

.m110-barreira > p{
    max-width: 70%;
    text-align: justify;
    margin: 0 0 12% 0;
    font-size: 12px;
}

.m110-barreira > img{
    border-radius: 10px;
    width: 70%;
    height: auto;
    margin: 0 0 16% 0;
}

/* 200m */
.m200-rasos{
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
}

.m200-rasos > p{
    max-width: 70%;
    text-align: justify;
    margin: 0 0 12% 0;
    font-size: 12px;
}

.m200-rasos > img{
    border-radius:10px;
    width: 70%;
    height: auto;
    margin: 0 0 16% 0;
}
/* 400 rasos */
.m400-rasos{
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
}

.m400-rasos > p{
    max-width: 70%;
    text-align: justify;
    margin: 0 0 12% 0;
    font-size: 12px;
}

.m400-rasos > img{
    border-radius: 10px;
    width: 70%;
    height: auto;
    margin: 0 0 16% 0;
}

/* 400 com barreira */
.m400-barra{
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
}

.m400-barra > p{
    max-width: 70%;
    text-align: justify;
    margin: 0 0 12% 0;
    font-size: 12px;
}

.m400-barra > img{
    border-radius: 10px;
    width: 70%;
    height: auto;
    margin: 0 0 16% 0;
}

/* revezamento */
.revezamento{
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
}

.revezamento > p{
    max-width: 70%;
    text-align: justify;
    margin: 0 0 12% 0;
    font-size: 12px;
}

.revezamento > img{
    border-radius: 10px;
    width: 70%;
    height: auto;
    margin: 0 0 20% 0;
}

/* aremesso */
.arremesso{
    margin: 5% 0 0 0;
}
.arremesso > h1{
    text-align: center;
    margin-bottom: 15%;
    font-size: 20px;

}
.arremesso > h1 > b{
    border-bottom: #fff ridge;
}
/* arremesso de peso */
.arremesso-peso{
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
}

.arremesso-peso > p{
    max-width: 70%;
    text-align: justify;
    margin: 0 0 12% 0;
    font-size: 12px;
}

.arremesso-peso > img{
    border-radius: 10px;
    width: 70%;
    height: auto;
    margin: 0 0 16% 0;
}
/* arremesso de disco */
.arremesso-disco{
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
}

.arremesso-disco > p{
    max-width: 70%;
    text-align: justify;
    margin: 0 0 12% 0;
    font-size: 12px;
}

.arremesso-disco > img{
    border-radius: 10px;
    width: 70%;
    height: auto;
    margin: 0 0 16% 0;
}
/* arremesso de dardo */
.arremesso-dardo{
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
}

.arremesso-dardo > p{
    max-width: 70%;
    text-align: justify;
    margin: 0 0 12% 0;
    font-size: 12px;
}

.arremesso-dardo > img{
    border-radius: 10px;
    width: 70%;
    height: auto;
    margin: 0 0 20% 0;
}

}
