
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

body{
    background-color: #343434;
    color: #fff;
    font-family: "Poppins";
}

.intro::before{
    content: "";
    position: absolute;
    width: 80%;
    height: 10%;
    background-image: url('../images/fundo.jpg'); /* Caminho para a sua imagem */
    background-size: 100% 170%;
    background-position: center;
    opacity: 0.5; /* Ajuste a opacidade aqui */
    z-index: -1; /* Garante que a imagem fique atrás do conteúdo */
    padding: 10%;
}

.intro{
    display: flex;
}
.description{
    max-width: 50%;
    background-color: #8c52ff68;
    padding: 15px 20px 15px 15px;
    border-radius: 10px;
    font-size: 15px;
    
}

.logo_olimpica{
    width: 81%;
    border-radius: 50%;
    padding: 7%;
}

.medalhas{
    text-align: center;
}

.slogan{
    border-left: #fff ridge;
    padding: 5px;
    font-size: 36px;
}

.text-intro{
    padding: 5%;
}  

/* Pagina historia */

.history{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 5%;
    margin-bottom: 10%;
}
.history > p{
    max-width: 35%;
    text-align: justify;
}

.titulo{
    display: flex;
    width: 9%;
    border-bottom: #fff ridge ;
}

 .run_icon{
  padding: 2%;
  width: 200%;
}

.hist_brasil{
    border-bottom: #fff ridge ;
}