
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

body{
    background-color: #343434;
    color: #fff;
    font-family: "Poppins";
}

.intro::before{
    content: "";
    position: absolute;
    width: 80%;
    height: 17%;
    background-image: url('../images/fundo.jpg'); /* Caminho para a sua imagem */
    background-size: 105% 160%;
    background-position: center;
    opacity: 0.3; /* Ajuste a opacidade aqui */
    z-index: -1; /* Garante que a imagem fique atrás do conteúdo */
    padding: 10%;
    padding-bottom: 20%;
}

.intro{
    display: flex;
    margin-bottom: 4%;
}
.description{
    max-width: 50%;
    background-color: #8c52ff68;
    padding: 15px 20px 15px 15px;
    border-radius: 10px;
    font-size: 15px;
    
}

.logo_olimpiadas{
    width: 81%;
    border-radius: 50%;
    padding: 7%;
}

.medalhas{
    text-align: center;
}

.slogan{
    border-left: #fff ridge;
    padding: 5px;
    font-size: 36px;
    max-width: 50%;
    padding: 0 0 0 2%;
}

.text-intro{
    padding: 5%;
}  

/* Pagina historia */

.history{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 5%;
    margin-bottom: 10%;
}
.history > p{
    max-width: 35%;
    text-align: justify;
}

.titulo{
    display: flex;
    width: 14%;
    border-bottom: #fff ridge ;
}

 .run_icon{
  padding: 2%;
  width: 150%;
}

.hist_brasil{
    border-bottom: #fff ridge ;
}

/* pág salto */

.salto > h1{
    text-align: center;
    margin-bottom: 5%;
}
.salto > h1 > b{
    border-bottom: #fff ridge;
}

.subtitle{
    border-bottom: #fff ridge;
    margin:0 77% 3% 5% ;
    text-align: center;
}

.salto-distancia{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 5%;
}

.salto-distancia > p{
    max-width: 30%;
    text-align: justify;
}

.salto-distancia > img{
    border-radius: 25px;
    margin: 0 3% 0 0;
    width: 40%;
}

.salto-altura{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 5%;
}

.salto-altura > p{
    max-width: 30%;
    text-align: justify;
}

.salto-altura > img{
    border-radius: 25px;
    margin: 0 3% 0 0;
    width: 40%;
}

.salto-vara{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 10%;
}

.salto-vara > p{
    max-width: 30%;
    text-align: justify;
}

.salto-vara > img{
    border-radius: 25px;
    margin: 0 3% 0 0;
    width: 40%;
}